<div class="row">
    <div class="col-xl-10 offset-xl-1">
        <div class="jumbotron" style="background-color: rgba(255, 255, 255, 0.7);">
            <h1 class="ui horizontal divider header">
              <%=t('general_infos.create_material')%>
            </h1>

            <%= render 'form', material: @material %>

            <br/>
            <%= link_to t('buttons.my_materials'), materials_path %>
        </div>
    </div>
</div>


